# Backend (FastAPI + data/LLM)
cohere
hnswlib
chromadb
unstructured
unstructured[pdf]
pymupdf
langchain
python-dotenv
numpy
pandas
mysql-connector-python
sqlalchemy
mysqlclient
sqlparse
tqdm
uvicorn[standard]
fastapi
